[submodule "MemoryGame/src"]
	path = MemoryGame/src
	url = https://github.com/01org/webapps-memory-game-older-kids
[submodule "HangOnMan/src"]
	path = HangOnMan/src
	url = https://github.com/01org/webapps-hangonman
[submodule "HexGL/src"]
	path = HexGL/src
	url = https://github.com/BKcore/HexGL.git
[submodule "Gallery/src"]
	path = Gallery/src
	url = https://github.com/blueimp/Gallery.git
